# Importing JSON data into database

In [1]:
import json
fname = 'data.json'
y = open(fname).read()
y = json.loads(y)
print(json.dumps(y, indent=4))
print('Type of some variable after after converting it into python datatype')
print(type(y[2][1]))

[
    [
        "str",
        "Welcome to BestEnlist Python Bootcamp"
    ],
    [
        "int",
        21
    ],
    [
        "float",
        3.14
    ],
    [
        "complex",
        "5 + 7j"
    ],
    [
        "list",
        "[1, 2, 3, 4, 5]"
    ],
    [
        "tuple",
        "(3, 5)"
    ],
    [
        "dict",
        "{'Hello': 5, 'Hi': 2, 'Welcome': 7}"
    ],
    [
        "set",
        "{1, 2, 3, 4, 5}"
    ],
    [
        "bool",
        "true"
    ]
]
Type of some variable after after converting it into python datatype
<class 'float'>

In [2]:
import mysql.connector as sql
con = sql.connect(host="localhost", user="root",password="", database="lab", port="3306")
mycursor = con.cursor()
mycursor.execute("DROP TABLE if exists jsondata;")
mycursor.execute("CREATE TABLE jsondata (DataType VARCHAR(255), samplevalues VARCHAR(255))")

In [3]:
sql = "INSERT INTO jsondata VALUES (%s, %s)"
val = []
for entry in y:
    tup = (entry[0],entry[1])
    val.append(tup)
    
print(val)
mycursor.executemany(sql,val)
con.commit()

[('str', 'Welcome to BestEnlist Python Bootcamp'), ('int', 21), ('float', 3.14), ('complex', '5 + 7j'), ('list', '[1, 2, 3, 4, 5]'), ('tuple', '(3, 5)'), ('dict', "{'Hello': 5, 'Hi': 2, 'Welcome': 7}"), ('set', '{1, 2, 3, 4, 5}'), ('bool', 'true')]

In [4]:
mycursor.close()
con.close()